html
	head
		script
			include ./PageJavascript.js
		script(src = "https://unpkg.com/axios/dist/axios.min.js")
		script(src = 'https://code.jquery.com/jquery-3.4.1.min.js')
		style 
			include ./style.css
		title Product Database
body
	include ../partials/header

	div(class = "container")
		br
		h1 All Order Results Found:
		p= motto
		each order in orders
			br
			br
			h1(onclick = `findByOrderId(id);` id = order.id) Id: #{order.id}
			h1 Name: #{order.name}
			each product in order.products
				h1(onclick = `findById(id);` id = product.id) Product Id: #{product.id}
				h1 Product Quantity: #{product.quantity}
			
	include ../partials/footer

