html
	head
		script
			include ./PageJavascript.js
		script(src = "https://unpkg.com/axios/dist/axios.min.js")
		script(src = 'https://code.jquery.com/jquery-3.4.1.min.js')
		style 
			include ./style.css
		title Product Database
body
	include ../partials/header

	div(class = "container")
		br
		p= motto
		br
		ul
		
		h1 Id: #{product.id}
		h1 Name: #{product.name}
		h1 Price: #{product.price}
		h1 Dimensions: x: #{product.dimensions.x}, y: #{product.dimensions.y}, z: #{product.dimensions.z}
		h1 Stock: #{product.stock}
		h1(id = "Reviews" style = "display: inline") Reviews: 
			each review in product.reviews
				h1(style = "display: block;" id = review) #{review}
		br
		button(type= "button" class = "button" onclick = "viewReviews(id);" id = product.id) View product reviews
		label(for = "Rating") Enter a rating from 1-10:
		input(type = "text" id = "productRating")
		button(type = "button" class = "button" onclick=`reviewProduct(id);`  id = product.id) Add a product review
	include ../partials/footer

