html
	head
		script
			include ./PageJavascript.js
		script(src = "https://unpkg.com/axios/dist/axios.min.js")
		script(src = 'https://code.jquery.com/jquery-3.4.1.min.js')
		style 
			include ./style.css
		title Product Database
body
	include ../partials/header

	div(class = "container")
		br
		h1 All Product Results Found:
		p= motto
		//- br
		//- ul
		each product in products
			br
			br
			h1(onclick = `findById(id);` id = product.id) Id: #{product.id}
			h1 Name: #{product.name}
			h1 Price: #{product.price}
			h1 dimensions: x: #{product.dimensions.x}, y: #{product.dimensions.y}, z: #{product.dimensions.z}
			h1 Stock: #{product.stock}
			h1(id = "Reviews" style = "display: inline") Reviews: 
				each review in product.reviews
					h1(style = "display: block;" id = review) #{review}	

			
	include ../partials/footer

